/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content-container {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.container-restricted {
  @extend .container;
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}

/* Self Clearing Sweetness */
.container::after,
.row::after {
  content: "";
  display: table;
  clear: both; }

.columns {
  position: relative;
  float: left;
  min-height: 1px;
  padding: 0 15px;
}

.slack-grid.row { margin-left: -30px; margin-right: -30px; }
.superslack-grid.row { margin-left: -45px; margin-right: -45px; }
.slack-grid .columns { padding: 0 30px; }
.superslack-grid .columns { padding: 0 45px; }

.one.columns                    { width: 8.33333333333%; }
.two.columns                    { width: 16.6666666666%; }
.three.columns                  { width: 25%;            }
.four.columns                   { width: 33.3333333333%; }
.five.columns                   { width: 41.6666666666%; }
.six.columns                    { width: 50%;            }
.seven.columns                  { width: 58.3333333333%; }
.eight.columns                  { width: 66.6666666666%; }
.nine.columns                   { width: 75%;            }
.ten.columns                    { width: 83.3333333333%; }
.eleven.columns                 { width: 91.6666666666%; }
.twelve.columns                 { width: 100%;           }

/* Offsets */
.offset-by-one.columns          { margin-left: 8.33333333333%; }
.offset-by-two.columns          { margin-left: 16.6666666666%; }
.offset-by-three.columns        { margin-left: 25%;            }
.offset-by-four.columns         { margin-left: 33.3333333333%; }
.offset-by-five.columns         { margin-left: 41.6666666666%; }
.offset-by-six.columns          { margin-left: 50%;            }
.offset-by-seven.columns        { margin-left: 58.3333333333%; }
.offset-by-eight.columns        { margin-left: 66.6666666666%; }
.offset-by-nine.columns         { margin-left: 75%;            }
.offset-by-ten.columns          { margin-left: 83.3333333333%; }
.offset-by-eleven.columns       { margin-left: 91.6666666666%; }


@media screen and (max-width: 1450px) {
  .one--lrg.columns                    { width: 8.33333333333%; }
  .two--lrg.columns                    { width: 16.6666666666%; }
  .three--lrg.columns                  { width: 25%;            }
  .four--lrg.columns                   { width: 33.3333333333%; }
  .five--lrg.columns                   { width: 41.6666666666%; }
  .six--lrg.columns                    { width: 50%;            }
  .seven--lrg.columns                  { width: 58.3333333333%; }
  .eight--lrg.columns                  { width: 66.6666666666%; }
  .nine--lrg.columns                   { width: 75%;            }
  .ten--lrg.columns                    { width: 83.3333333333%; }
  .eleven--lrg.columns                 { width: 91.6666666666%; }
  .twelve--lrg.columns                 { width: 100%;           }

  /* Offsets */
  .offset-by-none--lrg.columns         { margin-left: 0 }
  .offset-by-one--lrg.columns          { margin-left: 8.33333333333%; }
  .offset-by-two--lrg.columns          { margin-left: 16.6666666666%; }
  .offset-by-three--lrg.columns        { margin-left: 25%;            }
  .offset-by-four--lrg.columns         { margin-left: 33.3333333333%; }
  .offset-by-five--lrg.columns         { margin-left: 41.6666666666%; }
  .offset-by-six--lrg.columns          { margin-left: 50%;            }
  .offset-by-seven--lrg.columns        { margin-left: 58.3333333333%; }
  .offset-by-eight--lrg.columns        { margin-left: 66.6666666666%; }
  .offset-by-nine--lrg.columns         { margin-left: 75%;            }
  .offset-by-ten--lrg.columns          { margin-left: 83.3333333333%; }
  .offset-by-eleven--lrg.columns       { margin-left: 91.6666666666%; }
}


@media screen and (max-width: 1100px) {
  .one--med.columns                    { width: 8.33333333333%; }
  .two--med.columns                    { width: 16.6666666666%; }
  .three--med.columns                  { width: 25%;            }
  .four--med.columns                   { width: 33.3333333333%; }
  .five--med.columns                   { width: 41.6666666666%; }
  .six--med.columns                    { width: 50%;            }
  .seven--med.columns                  { width: 58.3333333333%; }
  .eight--med.columns                  { width: 66.6666666666%; }
  .nine--med.columns                   { width: 75%;            }
  .ten--med.columns                    { width: 83.3333333333%; }
  .eleven--med.columns                 { width: 91.6666666666%; }
  .twelve--med.columns                 { width: 100%;           }

  /* Offsets */
  .offset-by-none--med.columns         { margin-left: 0 }
  .offset-by-one--med.columns          { margin-left: 8.33333333333%; }
  .offset-by-two--med.columns          { margin-left: 16.6666666666%; }
  .offset-by-three--med.columns        { margin-left: 25%;            }
  .offset-by-four--med.columns         { margin-left: 33.3333333333%; }
  .offset-by-five--med.columns         { margin-left: 41.6666666666%; }
  .offset-by-six--med.columns          { margin-left: 50%;            }
  .offset-by-seven--med.columns        { margin-left: 58.3333333333%; }
  .offset-by-eight--med.columns        { margin-left: 66.6666666666%; }
  .offset-by-nine--med.columns         { margin-left: 75%;            }
  .offset-by-ten--med.columns          { margin-left: 83.3333333333%; }
  .offset-by-eleven--med.columns       { margin-left: 91.6666666666%; }
}

@media screen and (max-width: 730px) {
  .one--sm.columns                    { width: 8.33333333333%; }
  .two--sm.columns                    { width: 16.6666666666%; }
  .three--sm.columns                  { width: 25%;            }
  .four--sm.columns                   { width: 33.3333333333%; }
  .five--sm.columns                   { width: 41.6666666666%; }
  .six--sm.columns                    { width: 50%;            }
  .seven--sm.columns                  { width: 58.3333333333%; }
  .eight--sm.columns                  { width: 66.6666666666%; }
  .nine--sm.columns                   { width: 75%;            }
  .ten--sm.columns                    { width: 83.3333333333%; }
  .eleven--sm.columns                 { width: 91.6666666666%; }
  .twelve--sm.columns                 { width: 100%;           }

  /* Offsets */
  .offset-by-none--sm.columns         { margin-left: 0 }
  .offset-by-one--sm.columns          { margin-left: 8.33333333333%; }
  .offset-by-two--sm.columns          { margin-left: 16.6666666666%; }
  .offset-by-three--sm.columns        { margin-left: 25%;            }
  .offset-by-four--sm.columns         { margin-left: 33.3333333333%; }
  .offset-by-five--sm.columns         { margin-left: 41.6666666666%; }
  .offset-by-six--sm.columns          { margin-left: 50%;            }
  .offset-by-seven--sm.columns        { margin-left: 58.3333333333%; }
  .offset-by-eight--sm.columns        { margin-left: 66.6666666666%; }
  .offset-by-nine--sm.columns         { margin-left: 75%;            }
  .offset-by-ten--sm.columns          { margin-left: 83.3333333333%; }
  .offset-by-eleven--sm.columns       { margin-left: 91.6666666666%; }
}

@media screen and (max-width: 600px) {
  .one--xsm.columns                    { width: 8.33333333333%; }
  .two--xsm.columns                    { width: 16.6666666666%; }
  .three--xsm.columns                  { width: 25%;            }
  .four--xsm.columns                   { width: 33.3333333333%; }
  .five--xsm.columns                   { width: 41.6666666666%; }
  .six--xsm.columns                    { width: 50%;            }
  .seven--xsm.columns                  { width: 58.3333333333%; }
  .eight--xsm.columns                  { width: 66.6666666666%; }
  .nine--xsm.columns                   { width: 75%;            }
  .ten--xsm.columns                    { width: 83.3333333333%; }
  .eleven--xsm.columns                 { width: 91.6666666666%; }
  .twelve--xsm.columns                 { width: 100%;           }

  /* Offsets */
  .offset-by-none--xsm.columns         { margin-left: 0 }
  .offset-by-one--xsm.columns          { margin-left: 8.33333333333%; }
  .offset-by-two--xsm.columns          { margin-left: 16.6666666666%; }
  .offset-by-three--xsm.columns        { margin-left: 25%;            }
  .offset-by-four--xsm.columns         { margin-left: 33.3333333333%; }
  .offset-by-five--xsm.columns         { margin-left: 41.6666666666%; }
  .offset-by-six--xsm.columns          { margin-left: 50%;            }
  .offset-by-seven--xsm.columns        { margin-left: 58.3333333333%; }
  .offset-by-eight--xsm.columns        { margin-left: 66.6666666666%; }
  .offset-by-nine--xsm.columns         { margin-left: 75%;            }
  .offset-by-ten--xsm.columns          { margin-left: 83.3333333333%; }
  .offset-by-eleven--xsm.columns       { margin-left: 91.6666666666%; }
}



// Is this a good idea?

@media screen and (max-width: 1200px) {
  .superslack-grid .row { margin-left: -30px; margin-right: -30px; }
  .superslack-grid .columns { padding: 0 30px; }
  .slack-grid .row { margin-left: -15px; margin-right: -15px; }
  .slack-grid .columns { padding: 0 15px; }
}
