/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: inherit;
    text-decoration: none;
}

.primary-link,
.secondary-link,
.tertiary-link {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
}

.primary-link:hover,
.secondary-link:hover,
.tertiary-link:hover {
  border-bottom: 2px solid transparent;
}

.primary-link { color: #292929; border-bottom: 2px solid $CEPink; margin-bottom: -2px; }
.primary-link:hover { color: $CEPink; }

.secondary-link { color: #fff; }
.secondary-link:hover { color: $CEPink; }

.tertiary-link { color: $CEPink; }
.tertiary-link:hover { color: #292929; }
