/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width { width: 100%; }
.u-max-full-width { max-width: 100%; }
.u-float-right { float: right; }
.u-float-left { float: left; }
.u-relative { position: relative; }
.u-display-block { display: block; }
.u-display-inlineblock { display: inline-block; }
.u-unselectable { user-select: none; }
.u-overflow-hidden { overflow: hidden; }
.u-pos--initial { position: initial; }

.u-list-style-none {
  list-style-type: none;
  padding-left: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.u-list-style-none li {
  margin-bottom: 0;
}

.u-abs-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-abs-vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.u-rel-vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-cursor--pointer { cursor: pointer }

.u-overflow--visible { overflow: visible !important }






.u-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292929;
}

.u-z--1 { z-index: 1; }



.u-txt--strikethrough { text-decoration: line-through; }
.u-txt--italic { font-style: italic; }
.u-txt--bold { font-weight: 700; color: #292929; }
.u-txt--normal { font-weight: 400; }
.u-txt--center { text-align : center; }
.u-txt--left { text-align: left; }
.u-txt--right { text-align: right; }
.u-txt--uppercase { text-transform: uppercase; }
.u-txt--capitalize { text-transform: capitalize; }
.u-txt--lrg { font-size: 2.4rem; }
.u-txt--m { font-size: 2rem; }
.u-txt--sm { font-size: 1.4rem; }
.u-txt--xsm { font-size: 1.2rem; }
.u-txt--xxsm { font-size: 1rem; }
.u-txt--radioactive { color: #48E400; }
.u-txt--darkknight { color: #292929 !important; }
.u-txt--darkknight-l { color: #666C68 }
.u-txt--clooney-l { color: #CCCCCC; }
.u-txt--clooney-d { color: #999999; }
.u-txt--manatee { color: #9b9b9b }
.u-txt--white { color: $white; }
.u-txt--clifford { color: #E1283C; }


.u-bg--white { background-color: $white; }
.u-bg--tinderwolf { background-color: #d8d8d8; }
.u-bg--tinderwolf-l { background-color: rgba(216, 216, 216, 0.4); }
.u-bg--darkknight { background-color: #292929; }
.u-bg--darkknight-l { background-color: #666C68; }
.u-bg--darkknight-d { background-color: #000000; }
.u-bg--clooney { background-color: #eee; }
.u-bg--clooney-l { background-color: #ccc; }
.u-bg--clooney-d { background-color: #999999; }
.u-bg--barney { background-color: #5A1E64; }
.u-bg--barney-l { background-color: #832D91; }
.u-bg--barney-d { background-color: #52065F; }
.u-bg--radioactive { background-color: #48E400; }
.u-bg--radioactive-l { background-color: #72FF31; }
.u-bg--radioactive-d { background-color: #36A304; }
.u-bg--clifford { background-color: #E1283C; }
.u-bg--clifford-l { background-color: #F0485C; }
.u-bg--clifford-d { background-color: #D40013; }
.u-bg--tractorred { background-color: #ff0f2d; }
.u-bg--rounded { border-radius: $borderRadius; }


.u-padding { padding: 20px; }
.u-padding--xsm { padding: 5px; }
.u-padding--sm { padding: 10px; }
.u-padding--lrg { padding: 50px; }
.u-padding--xlrg { padding: 100px; }
.u-padding--n { padding: 0; }

.u-padding-l { padding-left: 20px; }
.u-padding-l--xsm { padding-left: 5px; }
.u-padding-l--sm { padding-left: 10px; }
.u-padding-l--lrg { padding-left: 50px; }
.u-padding-l--xlrg { padding-left: 100px; }
.u-padding-l--n { padding-left: 0; }

.u-padding-r { padding-right: 20px; }
.u-padding-r--xsm { padding-right: 5px; }
.u-padding-r--sm { padding-right: 10px; }
.u-padding-r--lrg { padding-right: 50px; }
.u-padding-r--xlrg { padding-right: 100px; }
.u-padding-r--n { padding-right: 0; }

.u-padding-t { padding-top: 20px; }
.u-padding-t--xsm { padding-top: 5px; }
.u-padding-t--sm { padding-top: 10px; }
.u-padding-t--lrg { padding-top: 50px; }
.u-padding-t--xlrg { padding-top: 100px; }
.u-padding-t--xxlrg { padding-top: 200px; }
.u-padding-t--xxxlrg { padding-top: 300px; }
.u-padding-t--n { padding-top: 0; }

.u-padding-b { padding-bottom: 20px; }
.u-padding-b--xsm { padding-bottom: 5px; }
.u-padding-b--sm { padding-bottom: 10px; }
.u-padding-b--lrg { padding-bottom: 50px; }
.u-padding-b--xlrg { padding-bottom: 100px; }
.u-padding-b--xxlrg { padding-bottom: 200px; }
.u-padding-b--xxxlrg { padding-bottom: 300px; }
.u-padding-b--n { padding-bottom: 0; }


.u-margin { margin: 20px; }
.u-margin--xsm { margin: 5px; }
.u-margin--sm { margin: 10px; }
.u-margin--lrg { margin: 50px; }
.u-margin--xlrg { margin: 100px; }
.u-margin--xxlrg { margin: 200px; }
.u-margin--xxxlrg { margin: 300px; }
.u-margin--n { margin: 0; }

.u-margin-l { margin-left: 20px; }
.u-margin-l--xsm { margin-left: 5px; }
.u-margin-l--sm { margin-left: 10px; }
.u-margin-l--lrg { margin-left: 50px; }
.u-margin-l--xlrg { margin-left: 100px; }
.u-margin-l--xxlrg { margin-left: 200px; }
.u-margin-l--xxxlrg { margin-left: 300px; }
.u-margin-l--n { margin-left: 0; }

.u-margin-r { margin-right: 20px; }
.u-margin-r--xsm { margin-right: 5px; }
.u-margin-r--sm { margin-right: 10px; }
.u-margin-r--lrg { margin-right: 50px; }
.u-margin-r--xlrg { margin-right: 100px; }
.u-margin-r--xxlrg { margin-right: 200px; }
.u-margin-r--xxxlrg { margin-right: 300px; }
.u-margin-r--n { margin-right: 0; }

.u-margin-t { margin-top: 20px; }
.u-margin-t--xsm { margin-top: 5px; }
.u-margin-t--sm { margin-top: 10px; }
.u-margin-t--lrg { margin-top: 50px; }
.u-margin-t--xlrg { margin-top: 100px; }
.u-margin-t--xxlrg { margin-top: 200px; }
.u-margin-t--xxxlrg { margin-top: 300px; }
.u-margin-t--n { margin-top: 0; }

.u-margin-b { margin-bottom: 20px; }
.u-margin-b--xsm { margin-bottom: 5px; }
.u-margin-b--sm { margin-bottom: 10px; }
.u-margin-b--lrg { margin-bottom: 50px; }
.u-margin-b--xlrg { margin-bottom: 100px; }
.u-margin-b--xxlrg { margin-bottom: 200px; }
.u-margin-b--xxxlrg { margin-bottom: 300px; }
.u-margin-b--n { margin-bottom: 0; }
