<%
const quotes = [
  {
    text: 'Creative Edge Photography is one of our major photographers within the UK. We have now worked together for over 15 years. We supply a verbal brief of what we are trying to achieve on the magazine page but Paul always adds the creative edge and supplies great images for my designers to work with.',
    source: 'Findlay Publications'
  },
  {
    text: 'The quality of the photography really helped to make the clients catalogue "stand out from the crowd". We will always consider Creative Edge Photography for any future photography requirements.',
    source: 'Time Design &amp; Print'
  },
  {
    text: 'Top quality with an in depth understanding of the brief at a very good price.',
    source: 'Red Hand Design'
  },
  {
    text: 'One of the marks of a really good photographer has got to be their ability to take a fairly ordinary subject and, from it, create an image that\'s visually arresting. Paul Dronsfield of Creative Edge possesses that talent in spades. I\'ve seen him make farm machinery look gorgeous!',
    source: 'Working Titles'
  },
  {
    text: 'Paul is easy to brief and utterly reliable. I look forward to working with him for many more years to come and have no (this is unfinished)',
    source: 'Unknown'
  },
  {
    text: '1st class photographer. Have worked together for many years, producing consistently 1st rate images. Reliable and friendly too! Recommended.',
    source: 'Elektron PLC'
  },
  {
    text: 'I booked Paul to cover a local event for our client, learndirect, having found him through a Google search. I was impressed with his website and everything was very easy to organise from start to finish. Paul kept me updated at every stage of the job. The photographs were great quality and I was very happy with the end result.',
    source: 'Consolidated PR'
  },
  {
    text: 'As the Creative Director of a Design Consultancy, we need suppliers who deliver top quality work on time and on budget which Creative Edge do exceptionally well. That\'s the reason that we have been using there services for over 20 years. Good to work with and good results every time.',
    source: 'Design Ingenuity'
  }
]
%>

<footer class="footer clearfix">

  <div class="row">
    <div class="columns eight offset-by-two">

      <div class="footer-logo">
        <a href="/"><img src="images/logos/logo.png" alt="Creative Edge logo"></a>
      </div>

      <div class="footer-contact">
        <ul class="footer__list u-list-style-none">
          <li><a href="mailto:pauldronsfield@btconnect.com?Subject=Hello%20again">pauldronsfield@btconnect.com</a></li>
          <li><a href="tel:441245600481">+44 (0)1245 600 481</a></li>
          <li><a href="tel:447802987850">+44 (0)7802 987 850</a></li>
        </ul>
      </div>

      <div class="footer-base">
        <ul class="footer__base-links u-list-style-none clearfix">
          <li>&copy; Creative Edge 2017</li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/site-map">Sitemap</a></li>
        </ul>
      </div>

    </div>
  </div>


</footer>
