<%
const hasGradient = header.hasGradient
const hasWhiteBackground = header.hasWhiteBackground
const hasShadow = header.hasShadow
%>

<div class="header-container">

  <header class="header clearfix<% if(hasGradient) { %> header--gradient<% } %><% if(hasWhiteBackground) { %> header--white<% } %><% if(hasShadow) { %> header--shadow<% } %>">
    <div class="u-relative">
      <img class="header__logo" src="images/logos/logo.png" alt="Creative Edge logo">
      <a class="header__home-link" href="/"></a>
      <i class="header__menu-icon fa fa-bars fa-2x"></i>
     </div> 
    <nav class="header__nav">
      <ul class="header__nav-first-list u-list-style-none">
        <li><a href="/property">PROPERTY</a></li>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/location">LOCATION</a></li>
        <li><a href="/pr-and-editorial">PR &amp; EDITORIAL</a></li>
      </ul>
      <ul class="header__nav-second-list u-list-style-none">
        <li><a href="/people">PEOPLE</a></li>
        <li><a href="/business-portraits">BUSINESS PORTRAITS</a></li>
        <li><a href="/interiors-and-exteriors">INTERIORS &amp; EXTERIORS</a></li>
      </ul>
    </nav>
  </header>

</div>

<!-- <div class="header-container">
  <header class="header clearfix<% if(hasGradient) { %> header--gradient<% } %><% if(hasWhiteBackground) { %> header--white<% } %>">
    <div class="u-relative">
      <a href="/"><img class="header__logo" src="images/logos/logo.png" alt="Creative Edge logo"></a>
      <i class="header__menu-icon header__menu-icon--lrg fa fa-bars fa-3x"></i>
      <i class="header__menu-icon header__menu-icon--small fa fa-bars fa-2x"></i>
    </div> 
    <nav class="header__nav">
      <ul class="u-list-style-none clearfix">
        <li class="header__link"><a href="/interiors-and-exteriors">INTERIORS &amp; EXTERIORS</a></li>
        <li class="header__link"><a href="/products">PRODUCTS</a></li>
        <li class="header__link"><a href="/locations">LOCATIONS</a></li>
        <li class="header__link"><a href="/business-portraits">BUSINESS PORTRAITS</a></li>
        <li class="header__link"><a href="/pr-and-editorial">PR &amp; EDITORIAL</a></li>
        <li class="header__link"><a href="/people">PEOPLE</a></li>
        <li class="header__link"><a href="/properties">PROPERTIES</a></li>
      </ul>
    </nav>
  </header>
</div> -->
