<div class="hero border-mod--full-width-bottom-slant-left">
	<ul class="hero__slides u-list-style-none">

		<% heroImages.forEach(function(headerImage, i) { %>
			<%
			const image = headerImage.image
			const alt = headerImage.alt
			%>

			<li class="hero__slide<% if(i===0) { %> active<% } %>" style="background-image: url('../../images/homepage_hero/<%= image %>');"></li>

		<% }) %>

	</ul>
</div>