.gallery__container {
	margin-top: 180px;
	margin-bottom: 100px;
}

.gallery__item {
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	user-select: none;
}

.gallery__image { transition: transform $transitionSpeed ease-in-out; }

.gallery__image:hover { transform: scale(1.1); }

.property-page .header__nav-first-list li:first-child,
.products-page .header__nav-first-list li:nth-child(2),
.locations-page .header__nav-first-list li:nth-child(3),
.pr-and-editorial-page .header__nav-first-list li:last-child,
.business-portraits-page .header__nav-second-list li:first-child,
.people-page .header__nav-second-list li:nth-child(2),
.interiors-and-exteriors-page .header__nav-second-list li:last-child { color: $CEPink !important }

// .interiors-and-exteriors-page .header__link:first-child,
// .products-page .header__link:nth-child(2),
// .locations-page .header__link:nth-child(3),
// .business-portraits-page .header__link:nth-child(4),
// .pr-and-editorial-page .header__link:nth-child(5),
// .people-page .header__link:nth-child(6),
// .properties-page .header__link:last-child { color: $CEPink !important }

@media only screen and (max-width: 1160px) {
	.gallery__container { margin-top: 150px; }
}

@media only screen and (max-width: 950px) {
	.gallery__container { margin-top: 116px; }
}

@media only screen and (max-width: 700px) {
	.gallery__container {
		margin-top: 90px;
		margin-bottom: 50px;

	}
}

