<%
const header = {
  hasGradient: false,
  hasWhiteBackground: true
}
const imagePaths = [
	'images/people/people_1.jpg',
	'images/people/people_2.jpg',
	'images/people/people_3.jpg',
	'images/people/people_4.jpg',
	'images/people/people_5.jpg',
	'images/people/people_6.jpg',
	'images/people/people_7.jpg',
	'images/people/people_8.jpg',
	'images/people/people_9.jpg',
	'images/people/people_10.jpg',
	'images/people/people_11.jpg',
	'images/people/people_12.jpg'
]
%>

<div class="container people-page">

  <div class="row">
    <div class="columns twelve">
      
      <%- partial('../components/header.ejs', { header }) %>

		</div>
	</div>

	<div class="row gallery__page-top u-margin-b--lrg">
		<div class="columns eight offset-by-two twelve--med offset-by-none--med">

			<div id="gallery" style="display:none;">

				<% imagePaths.forEach(function(imagePath) { %>

					<img alt="Image 1 Title" src="<%= imagePath %>"
					data-image="<%= imagePath %>"
					data-description="Image 1 Description">

				<% }) %>

			</div>

		</div>
	</div>

	<div class="row">
	    <div class="columns twelve">
	      
	      <%- partial('../components/footer.ejs') %>

	    </div>
	  </div>

</div>